<div class="container">
  <div class="container-inner">
  <nav>
    <h1><span>Petar Ivacic</span> </h1>
    <h5 class="text-center">{entrepreneur + full stack developer}        </h5>
    </nav>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <nav>
      <ul class="text-left">
        <li><a href="http://linkedin.com/in/petarivacic">L</a></li>
        <li><a href="http://twitter.com/petarivacic">T</a></li>
        <li><a href="http://facebook.com/petarivacic">f</a></li>
        <li><a href="http://soundcloud.com/petar-ivacic">s</a></li>
        <li><a href="http://github.com/petarivacic">g</a></li>
      </ul>
</nav>
  </div>
</div>