- provide(:title, 'CV/Resume')
.row
  .large-12.columns
    %hr
.row
  .large-4.columns
    %h3 Petar Ivacic
  .large-8.columns
    %h5.subheader
      Entrepreneur, Engineer, Developer. Passionate about rowing and Ruby Rails framework.
.row
  .large-12.columns
    %hr
.row
  .large-4.columns
    %h6.subheader 10/13 - Present
  .large-8.columns
    %h5 Startup Institute
    %p 
      Immersive 8-week professional accelerator to gain the skills necessary to be a valuable and results producing employee at a startup company.     
.row
  .large-12.columns
    %hr
.row
  .large-4.columns
    %h6.subheader 10/13 - Present
  .large-8.columns
    %h5 Frabbit
    %p 
      The first social network that will inspire and motivate you to reach your true fitness potential.   

.row
  .large-12.columns
    %hr
.row
  .large-4.columns
    %h6.subheader 09/04 - 12/12
  .large-8.columns
    %h5 RowZone
    %p 
      The World's First Indoor Rowing Fitness Franchise. 
.row
  .large-12.columns
    %hr
  .row
  .large-4.columns
    %h6.subheader 07/11 - 02/12
  .large-8.columns
    %h5 Doozer Construction
    %p 
      A full service Construction Management and General Contracting company based in Philadelphia, PA     
.row
  .large-12.columns
    %hr
  .row
  .large-4.columns
    %h6.subheader 08/12 - 12/12
  .large-8.columns
    %h5 Barilotti Wealth Strategies
    %p 
          
.row
  .large-12.columns
    %hr
