.row
	.large-12.columns
		.large-9.columns
			%h2 Food Near You 
		.large-3.columns
			%br
			%p= link_to 'Add New Restaurant', new_restaurant_path, class: "small button right" 
		%hr
		


= render @restaurants
	