
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://weloveiconfonts.com/api/?family=zocial);

::selection {
  background-color: #b3d4fc; 
} ::-moz-selection {
  background-color: #b3d4fc; 
}

body {
  background-color: #FFF;
  
  font: {
    family: "Source Sans Pro", sans-serif;
    size: 16px;
  }
    text: {
    align: center;
  }

  color: #666; 
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: table;
}

.container-inner {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  margin-bottom: 0em;
  padding-bottom: 0px;
  text: {
    align: center;
  }
  font: {
    size: 58px;
    weight: 1000;
  }
  
  letter-spacing: 0.1618em;
  
  
  &:hover {
    cursor: default;
  }
  
  span {
    color: #2ecc71;
  }
}
h5 {
  padding-top: 0px;
  text: {
    align: center;
  }
  font: {
    size: 16px;
    weight: 100;
    color:#666;
  }
  
  letter-spacing: 0.1518em;

  
  &:hover {
    cursor: default;
  }
  
  span {
    color: #2ecc71;
  }
}

nav {
  text-align: center;
}

ul, li, a {
  display: inline-block;
  padding-left: 0px;
}

li {
  padding: 5px 5px 5px 5px;
  
  &:last-child {
    border-right-color: transparent;
  }
}

a {
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-decoration: none;
  color: #111;
  &:hover {
    color: #2ecc71;
  }
  
  font: {
    family: "zocial", sans-serif;
    size: 28px;
  }
  
/*  @include transition(background-color .15s ease-in-out);*/


  

}